body, html {
	height: 100%;
}

.container {
	background-image:url('../img/indexBackground.jpg');
	position: relative;
	width: 100%;
	height: auto !important;
	min-height: 100%;
	min-width: 360px; 
}

.pageHeader {
	background-color: #404040;
	width: 360px;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	padding-top: 25px;
	padding-bottom: 25px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.in-line {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

@font-face {
  font-family: 'Estrangelo Edessa';
  font-style: normal;
  font-weight: 400;
  src: local('estre'), url(../fonts/estre.woff) format('woff');
}

.centerText {
	text-align: center;
	font-family: 'Estrangelo Edessa';
	font-size: 22pt;
	padding: 10px;
	color: white;
	width: 300px;
	display: block;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.15);
}

#signin {
	background-color: #4ed5c7;
}

#signup {
	background-color: #d44865;
}

.indexButtons {
	position: relative;
	top: 15%;
}

@font-face {
  font-family: 'Bad Script';
  font-style: normal;
  font-weight: 400;
  src: local('Bad Script'), url(../fonts/badscript.woff) format('woff');
}

#welcomeText {
	font-family: 'Bad Script', cursive;
	text-align: center;
	font-size: 70px;
	color: #BDBCBD;
	margin: auto;
	position: relative;
	top: 10%; left: 0; bottom: 0; right: 0;
}

.titleText {
	font-family: 'Bad Script', cursive;
	text-align: center;
	font-size: 50px;
	color: #BDBCBD;
	margin: -30px 0 -30px 0;
	position: relative;
}

.clear {
	clear: both;
	height: 60px;
}

.blueButton {
	height: 50px;
	width: 300px;
	color: #ffffff;
	background-color: #4caf99;
	font-family: 'Estrangelo Edessa';
	font-size: 26px;
}

.blueButton:hover,
.blueButton:focus,
.blueButton:active,
.blueButton.active,
.open > .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #66C9B3;
  border-color: #adadad;
}

.pinkButton {
	height: 50px;
	width: 300px;
	color: #ffffff;
	background-color: #d44865;
	font-family: 'Estrangelo Edessa';
	font-size: 26px;
}

.pinkButton:hover,
.pinkButton:focus,
.pinkButton:active,
.pinkButton.active,
.open > .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #EE627F;
  border-color: #adadad;
}

#newButton {
	background-color: #4caf99;
}

#newButton:hover,
#newButton:focus,
#newButton:active,
#newButton.active,
.open > .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #66C9B3;
  border-color: #adadad;
}

#popularButton {
	background-color: #d44865;
}

#popularButton:hover,
#popularButton:focus,
#popularButton:active,
#popularButton.active,
.open > .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #EE627F;
  border-color: #adadad;
}

#explore {
	text-align: center;
	width: 360px;
	margin-left: auto;
	margin-right: auto;
}

.exploreButtons {
	height: 45px;
	width: 178px;
	color: #ffffff;
	font-family: 'Estrangelo Edessa';
	font-size: 26px;
	display: inline-block;
	padding: 5px 12px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
	      user-select: none;
	background-image: none;
	border: 1px solid transparent;
}

.image {
	width: 360px;
	margin: 0 0 20px 0;
	padding: 10px;
}

.imageScroll {
	width: 360px;
	background-color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.fileupload {
	width: 320px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255,255,255,0.5);
}

.fileselect {
	text-align: center;
}

.fieldset {
	border: 1px solid transparent;
	padding-top: 10px;
	margin-bottom: 10px;
}

.profileContainer {
	width: 330px;
	display: block;
	margin: 10px auto 10px auto;
}

#followButton {
	height: 36px;
	width: 300px;
	color: #ffffff;
	background-color: #4caf99;
	font-family: 'Estrangelo Edessa';
	font-size: 26px;
	padding: 0;
	margin-top: 15px;
}

#followButton:hover,
#followButton:focus,
#followButton:active,
#followButton.active,
.open > .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #339680;
  border-color: #adadad;
}

.imageResize {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 280px;
	height: auto;
	margin-bottom: 10px;
}

.imageProfilePicture {
	width: 50px;
	height: 50px;
}

.profilePicture {
	width: 100px;
	height: 100px;
}

.imageDetails {
	padding: 10px;
}

.uploadButton {
	margin-top: 20px;
}

#optionLast {
	margin-left: 0;
}

#galleryName {
	margin-top: 10px;
}