body, html {
	height: 100%;
}

.container {
	background-image:url('../img/indexBackground.jpg');
	position: relative;
	width: 100%;
	height: auto !important;
	min-height: 100%;
	min-width: 360px; 
}

.containerDark {
	width: 100%;
	position: relative;
	height: auto !important;
	min-height: 100%;
	min-width: 360px;
	background-color: rgba(0, 0, 0, 0.4);
}

.containerWhite {
	width: 100%;
	position: relative;
	height: auto !important;
	min-height: 100%;
	min-width: 360px;
	background-color: #ffffff;
}

.pageHeader {
	background-color: #404040;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	padding-top: 25px;
	padding-bottom: 25px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.in-line {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

@font-face {
  font-family: 'Estrangelo Edessa';
  font-style: normal;
  font-weight: 400;
  src: local('estre'), url(../fonts/estre.woff) format('woff');
}

.centerText {
	text-align: center;
	font-family: 'Estrangelo Edessa';
	font-size: 22pt;
	padding: 10px;
	color: white;
	width: 300px;
	display: block;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.15);
}

#signin {
	background-color: #4ed5c7;
}

#signup {
	background-color: #d44865;
}

.indexButtons {
	position: relative;
	top: 15%;
}

@font-face {
  font-family: 'Bad Script';
  font-style: normal;
  font-weight: 400;
  src: local('Bad Script'), url(../fonts/badscript.woff) format('woff');
}

#welcomeText {
	font-family: 'Bad Script', cursive;
	text-align: center;
	font-size: 70px;
	color: #BDBCBD;
	margin: auto;
	position: relative;
	top: 10%; left: 0; bottom: 0; right: 0;
}

.titleText {
	font-family: 'Bad Script', cursive;
	text-align: center;
	font-size: 50px;
	color: #BDBCBD;
	margin: -30px 0 -30px 0;
	position: relative;
}

.clear {
	clear: both;
	height: 50px;
}

.blueButton {
	height: 50px;
	width: 300px;
	color: #ffffff;
	background-color: #4caf99;
	font-family: 'Estrangelo Edessa';
	font-size: 26px;
}

.blueButton:hover,
.blueButton:focus,
.blueButton:active,
.blueButton.active,
.open > .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #66C9B3;
  border-color: #adadad;
}

.pinkButton {
	height: 50px;
	width: 300px;
	color: #ffffff;
	background-color: #d44865;
	font-family: 'Estrangelo Edessa';
	font-size: 26px;
}

.pinkButton:hover,
.pinkButton:focus,
.pinkButton:active,
.pinkButton.active,
.open > .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #EE627F;
  border-color: #adadad;
}

#newButton {
	background-color: #4caf99;
}

#newButton:hover,
#newButton:focus,
#newButton:active,
#newButton.active,
.open > .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #66C9B3;
  border-color: #adadad;
}

#popularButton {
	background-color: #d44865;
}

#popularButton:hover,
#popularButton:focus,
#popularButton:active,
#popularButton.active,
.open > .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #EE627F;
  border-color: #adadad;
}

#explore {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.exploreButtons {
	height: 45px;
	width: 49%;
	color: #ffffff;
	font-family: 'Estrangelo Edessa';
	font-size: 26px;
	display: inline-block;
	padding: 5px 12px;
	margin-left: auto;
	margin-right: auto;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
	      user-select: none;
	background-image: none;
	border: none;
}

.image {
	min-width: 360px;
	width: 100%;
	padding: 10px 10px 0 10px;
	margin: 0 0 10px 0;
}

.imageScroll {
	width: 100%;
	min-width: 360px;
	max-width: 500px;
	background-color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.profileContainer {
	width: 360px;
	margin: 0 auto 0 auto;
	min-height: 640px;
}

.profileInfo {
	padding: 10px;
}

#followButton {
	height: 36px;
	width: 300px;
	color: #ffffff;
	background-color: #4caf99;
	font-family: 'Estrangelo Edessa';
	font-size: 26px;
	padding: 0;
	margin-top: 15px;
}

#followButton:active,
#followButton.active,
.open > .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #339680;
  border-color: #adadad;
}

.imageResize {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	max-width: 80%;
	height: auto;
	max-height: 350px;
	margin-bottom: 15px;
}

.imageProfilePicture {
	width: 60px;
	height: 60px;
}

.imageContents {
	padding: 0 10px 0 10px;
}

.profilePicture {
	width: 100px;
	height: 100px;
}

.imageUploadDetails {
	width: 360px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px 0 10px;
}

.uploadButton {
	margin-top: 20px;
}

#optionLast {
	margin-left: 0;
}

#galleryName {
	margin-top: 10px;
}

@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  src: local('asap'), url(../fonts/asap.woff2) format('woff2');
}

input {
	font-family: "Asap";
	font-size: 18px;
}

.like:active,
.like.active,
.open > .dropdown-toggle.btn-default {
	background-color: #99ff66;
}

.dislike:active,
.dislike.active,
.open > .dropdown-toggle.btn-default {
	background-color: #ff3333;
}

.like {
	display: inline;
}

.dislike {
	display: inline;
	float: right;
}

.gallery {
	height: 140px;
	width: 50%;
	background-color: rgba(0, 0, 0, 0.9);
	border: 1px solid;
	border-color: rgba(255, 255, 255, 0.2);
}

.gallery > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -83px;
	opacity: 0.3;
	height: 140px;
	width: 100%;
	max-width: 180px;
}

.gallery > div {
	position: relative;
	font-family: "Asap";
	font-size: 23px;
	color: #ffffff;
	text-align: center;
	border: 1px solid transparent;
	padding-top: 50px;
}

.gallery:hover,
.gallery:focus,
.gallery:active,
.gallery.active,
.open > .dropdown-toggle.btn-default {
  background-color: rgba(153, 255, 102, 0.7);
  border-color: #adadad;
}

.gallery:hover > div {
	color: #000000;
}

.noGalleries {
	font-family: "Asap";
	font-size: 30px;
	color: #ffffff;
	word-wrap: break-word;
	text-align: center;
}

.noImages {
	margin-left: auto;
	margin-right: auto;
	font-family: "Asap";
	font-size: 30px;
	color: #000000;
	width: 90%;
	word-wrap: break-word;
	text-align: center;
}

@font-face {
  font-family: 'Carme';
  font-style: normal;
  font-weight: 400;
  src: local('carme'), url(../fonts/carme.woff2) format('woff2');
}

#proName {
	font-family: "Carme";
	color: #99ff66;
	font-size: 18px;
}

#proDescription {
	font-family: "Carme";
	color: #ffffff;
	font-size: 13px;
	word-wrap: break-word;
}

.settingsBar {
	height: 45px;
	padding: 5px;
}

.glyphicon-cog {
	font-size: 35px;
	color: #ffffff;
	float: right;
}